<html>

<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<style>
		html,
		body {
			font: 12px "宋体";
			margin: 0;
			height: 100%;
			overflow: hidden;
			line-height: 30px;
		}

		table {
			padding: 10vm;
		}
	</style>
	<title>项目登录</title>
	<script type="text/javascript">
		var project = "@name@"
		var def = {
			uid: "junyou",
			host: "192.168.0.231:8890",
			sid: 1,
			pid: "dev",
			cport: 9103
		}
		var clientCfg = clientCfg || {};
		clientCfg["内网有GM指令版"] = {
			ip: "http://" + project + ".h5/cn/nightly/",
			type: 1
		};
		clientCfg["内网正式版"] = {
			ip: "http://" + project + ".h5/cn/rc/",
			type: 1
		};
		clientCfg["内网https有GM指令版"] = {
			ip: "https://wallan187.3tion.win/" + project + "/cn/nightly/",
			type: 1
		};
		clientCfg["内网https正式版"] = {
			ip: "https://wallan187.3tion.win/" + project + "/cn/rc/",
			type: 1
		};
	</script>
	<script type="text/javascript" src="http://build.h5/helpers/cookie.js"></script>
	<script type="text/javascript" src="http://common.h5/client.js"></script>
	<script type="text/javascript" src="server.js"></script>
	<script type="text/javascript" src="http://common.h5/common2.js"></script>
</head>

<body>
	<div id="Main">
		<center>
			<table>
				<tr>
					<td>用户名：</td>
					<td><input id="uid" type="text" size="20" /></td>
				</tr>
				<tr>
					<td>选择客户端：</td>
					<td><select id="client"></select></td>
				</tr>
				<tr>
					<td>服务端地址：</td>
					<td><input id="host" type="text" size="20" /></td>
				</tr>
				<tr>
					<td>服务器标识：</td>
					<td><input id="sid" type="text" size="20" /></td>
				</tr>
				<tr>
					<td>平台id：</td>
					<td><input id="pid" type="text" size="20" /></td>
				</tr>
				<tr>
					<td>其他参数：</td>
					<td><textarea id="other" cols="30" rows="5"></textarea></td>
				</tr>
				<tr>
					<td colspan="2"><input id="btnLogin" type="button" value="登录" onclick="login()" disabled /></td>
				</tr>
			</table>
		</center>
	</div>
	<iframe id="gameFrame" style="display:none;border:0px;width:100%;height:100%;"></iframe>
</body>

</html>